@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 17% 98%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 169 88% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 73% 90%;
    --secondary-foreground: 0 0% 20%;
    --muted: 240 17% 95%;
    --muted-foreground: 0 0% 45%;
    --accent: 120 73% 75%;
    --accent-foreground: 0 0% 10%;
    --destructive: 6 93% 65%;
    --destructive-foreground: 0 0% 100%;
    --success: 207 44% 49%;
    --success-foreground: 0 0% 100%;
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 169 88% 38%;
    --chart-1: 174 72% 56%;
    --chart-2: 207 44% 49%;
    --chart-3: 6 93% 71%;
    --chart-4: 169 88% 38%;
    --chart-5: 120 73% 75%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 169 88% 38%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 120 73% 90%;
    --sidebar-accent-foreground: 169 88% 38%;
    --sidebar-border: 0 0% 88%;
    --sidebar-ring: 169 88% 38%;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 90%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 90%;
    --primary: 169 88% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 65%;
    --accent: 120 73% 80%;
    --accent-foreground: 0 0% 10%;
    --destructive: 6 80% 60%;
    --destructive-foreground: 0 0% 98%;
    --success: 207 50% 60%;
    --success-foreground: 0 0% 98%;
    --border: 0 0% 23%;
    --input: 0 0% 23%;
    --ring: 169 88% 58%;
    --chart-1: 174 72% 66%;
    --chart-2: 207 44% 59%;
    --chart-3: 6 93% 76%;
    --chart-4: 169 88% 48%;
    --chart-5: 120 73% 80%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 169 88% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 16%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 0 0% 23%;
    --sidebar-ring: 169 88% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
